# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
#*.sqlite3      <-- COMMENTED OUT so SQLite DB is tracked

# Virtual Environment
venv/
myenv/
.env

# Django
*.log
*.pot
*.mo
#*.sqlite3      <-- COMMENTED OUT so SQLite DB is tracked

# Node / Tailwind (if any)
node_modules/
dist/

# VS Code / IDE files
.vscode/
.idea/
