<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'authapp/css/auth.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <a href="{% url 'authapp:home' %}" class="logo">Flow AI</a>
    </nav>

    <div class="page-container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
